<%- include("includes/header"); %>
    <%- include("components/navbar-dashboard"); %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-xl-4 p-2">
                <a href="/mails/sections">
                    <div class="card">
                        <img
                            src="/assets/sendmails.gif"
                            style="object-fit: cover;"
                            height="200px"
                            width="100%"
                        >
                        <div class="card-body">
                            <h4 class="card-title">
                                <strong>Zona de emails</strong>
                            </h4>
                            <p class="card-subtitle text-muted">Envia y visualiza todos los correos enviados.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
<%- include("includes/footer"); %>