<%- include("includes/header"); %>
    <%- include("components/navbar"); %>
    <div class="container-fluid bg-danger">
        <div
            class="row align-items-center justify-content-center"
            style="height: 90vh;"
        >
            <div class="col-12 col-sm-10 col-md-8 col-xl-6 p-5 text-white">
                <h1>
                    <strong>
                        Envia emails de forma rapida y segura con 
                        Vuomail
                    </strong>
                </h1>
                <p>
                    Al utilizar nuestros servicios podras interactuar
                    de forma rapida y segura con Gmail.
                    Que esperas, pruebalo ahora.
                </p>
            </div>
            <div id="banner" class="col-12 col-xl-6 p-2 text-center">
                <img
                    src="/assets/banner.svg"
                    width="50%"
                >
            </div>
        </div>
    </div>
<%- include("includes/footer"); %>