<%- include("includes/header"); %>
    <%- include("components/navbar"); %>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 p-2">
                <a href="/auth/google">
                    <div class="card">
                        <img
                            style="object-fit: cover;"
                            src="/assets/google.jpg"
                            height="200px"
                            width="100%"
                        >
                        <div class="card-body">
                            <h4 class="card-title">
                                Google
                            </h4>
                            <p class="card-title text-muted">Inicia sesion con una cuenta de Google</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
<%- include("includes/footer"); %>